* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  display: flex;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e4ebf3;
  background-color: #ffffff;
  width: 80%;
  padding: 36px;
  box-shadow: 0px 4px 16px 0px #eaebed;
}
@media screen and (min-width: 768px) {
  .card-container {
    width: 40%;
    max-width: 500px;
  }
}
.heading {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 30px;
  }
}
.paragraph {
  color: #333333;
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 25px;
  }
}
.generate-button {
  border-radius: 10px;
  background-color: #0b69ff;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border: none;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin-top: 14px;
  outline: none;
  cursor: pointer;
}

.counter {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 30px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .counter {
    font-size: 40px;
  }
}
